/*===========================================================================*/
/* button3dクラス   立体的なボタンを作れます */

.button3d {
    color: #6e6e73;
    display: inline-block;
    height: 50px;
    font-size: 17px;
    width: max-content;
    position: relative;
    top: 0;
    text-decoration: none;
    margin: 0 0 6px 0;
    padding: 12px 20px 8px 20px;
    background: #fafafa;
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
    border-bottom: solid 3px #bbb;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .1);
}

.button3d.neumorphism {
    background: none;
    border: none;
    margin: 0 0 6px 0;
    box-shadow: 5px 5px 20px #c8c9cc,
        -5px -5px 20px #ffffff;
}

.button3d svg {
    width: 50px;
}

.button3d:hover {
    cursor: pointer;
    background: #fff;
}

.button3d.neumorphism:hover {
    background: none;
}

.button3d:active {
    border-bottom: none;
    margin-top: 3px;
    margin-bottom: 3px;
    outline: none;
    box-shadow: none;
}

.button3d:disabled {
    color: #aaa;
}