/*===========================================================================*/
/* buttonFlatクラス   シンプルな角丸ボタンを作れます */

.buttonFlat {
    margin: 3px;
    background: #e8e8ed;
    color: #666;
    display: inline-block;
    width: max-content;
    text-decoration: none;
    font-size: small;
    padding: 6px 10px 4px 10px;
    border: none;
    border-radius: 30px;
}

.buttonFlat:hover {
    cursor: pointer;
    background: #f0f0f0;
}