/*===========================================================================*/
.actions {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

@media print {
    .actions {
        display: none;
    }
}

/*===========================================================================*/
/* 編集スイッチ */
#edit-switch-wrapper {
    box-sizing: border-box;
    padding: 10px 20px;
    text-align: right;
    opacity: 0.1;
}

#edit-switch-wrapper:hover {
    opacity: 1;
}

@media screen and (max-width: 600px) {

    /* 画面の幅が600px以下のときに適用されるCSS */
    #edit-switch-wrapper {
        display: none;
    }
}

.edit-label {
    color: #777;
    font-size: 14px;
    position: relative;
    top: 3px;
}