.imageLoading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    cursor: progress;
    background:
        linear-gradient(0.25turn, transparent, #fff, transparent),
        rgba(255, 255, 255, 0.3);
    background-repeat: no-repeat;
    background-size: 100% 100%, 100% 100%;
    background-position: -100% 0, 0 0;
    animation: imageLoadingAnimation 1.5s infinite;
}

@keyframes imageLoadingAnimation {
    to {
        background-position: 100% 0, 0 0, 0 100%, 50px 100%;
    }
}