/*===========================================================================*/
.actions {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

@media print {
    .actions {
        display: none;
    }
}

/*===========================================================================*/
/* 編集スイッチ */
#edit-switch-wrapper {
    box-sizing: border-box;
    padding: 10px 20px;
    text-align: right;
}

.edit-label {
    color: #777;
    font-size: 14px;
    position: relative;
    top: 3px;
}